@model IEnumerable<MyNotesWall.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<style>
    .card {
        break-inside:avoid;
        border-style: ridge;
        border-width: 3px;
    }
    .card-deck{
        -webkit-column-count:3;
         overflow-wrap:break-word;   
    }
</style>


<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck-wrapper">
    <div class="card-deck">
        <link href="~/wwwroot/css/CardBorder.css" rel="stylesheet" type="text/css"/>
@foreach (var item in Model)
{
    
       <div class="card">


           <div class="card-block">
               <table style="width:100%">
                   <tr>
                       <th width="60%"><a class="card-title" asp-action="Details" asp-route-id="@item.ItemId" >@Html.DisplayFor(modelItem => item.Title)</a></th>
                       <th><a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a></th>
                       <th><a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a></th>
               </table>
               
                   
               
               <p class="card-text">@Html.DisplayFor(ModelItem => item.Content)</p>
               <p class="card-text"><small class="text-muted"> @Html.DisplayFor(ModelItem => item.CreatedAt)</small></p>

           </div>

        </div>

}
     

    </div>
</div>





 

    
