@model MyNotesWall.Models.ListPageModel


<html>
<body>
    <br />
    <form asp-action="QuickNote">
        @Html.TextBoxFor(m => m.Model.Title)<br />
        @Html.TextBoxFor(m => m.Model.Content)<br />
        <input type="submit" />
    </form>
    <br />
        
            @foreach (var item in Model.List)
            {
              <div class="bordered">
                <form asp-action="DeleteItem" asp-route-id="@item.ItemId">

                        <p>
                            @Html.DisplayFor(modelItem => item.Title)  
                            @Html.DisplayFor(modelItem => item.CreatedAt, "{0:dd/MM/yyyy}")      
                            <input type="submit" value="usun">
                            
                        </p>
                        <br />
                        @Html.DisplayFor(modelItem => item.Content)


                     
                    
                </form>
                  </div>

                      <br />
                      }

</body>
</html>
